.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

section > .wrk {
  text-align: center;
  margin-bottom: 2rem;

}

.prt {
  margin-bottom: 2.4rem;
  text-decoration:underline 4px solid gray;
}

.portfolio__item {
  padding: 1.3rem;
  border-radius: var(--border-radius-2);
  background-color: var(--color-white);
  transition: var(--transition);
  border: 1px solid transparent;
}

.portfolio__item:hover{
  border-color: var(--color-primary);
}

.portfolio__item-image {
  border-radius: 1.4rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}


.portfolio__item-cta {
  display: flex;
  gap: 2rem;
  /* justify-content: space-between; */
  margin-bottom: 1.5rem;
}

/* ==============MEDIA QUERRIES ON (Tablet)================= */

@media screen and (max-width:1024px){
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }

}

/* ==============MEDIA QUERRIES ON (phone)================= */

@media screen and (max-width:786px){
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
}
